body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    overflow: hidden;
}
#border-game{
    border: black solid 2px;
    width: 630px; min-width: 630px; max-width: 630px;
    height: 630px; min-height: 630px; max-width: 630px;
    display: flex;
    align-items: center;
    justify-content: center;

}