#render-3d{
    border: brown 1px dotted;
    display: flex;
    flex-wrap: wrap;

    position: relative;
    top: 20px;
    transform: rotateX(45deg) rotateY(0deg) rotateZ(10deg) skewX(-25deg) skewY(10deg); 

    width: 1260px; min-width: 1260px; max-width: 1260px;
    height: 1260px; min-height: 1260px; max-height: 1260px;

    @include littleDevice{
        width: 630px; min-width: 630px; max-width: 630px;
        height: 630px; min-height: 630px; max-height: 630px;
    }

}