body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    overflow: hidden;
}
#border-game{
    border: black solid 2px;
    width: 630px; min-width: 630px; max-width: 630px;
    height: 630px; min-height: 630px; max-width: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#render-3d{
    border: brown 2px solid;
    display: flex;
    flex-wrap: wrap;

    position: relative;
    top: 20px;
    transform: rotateX(45deg) rotateY(0deg) rotateZ(10deg) skewX(-25deg) skewY(10deg); 

    width: 1260px; min-width: 1260px; max-width: 1260px;
    height: 1260px; min-height: 1260px; max-width: 1260px;

//    width: 1890px; min-width: 1890px; max-width: 1890px;
//    flex-wrap: nowrap;
}
.chunk{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;

    width: 630px; min-width: 630px; max-width: 630px;
    height: 630px; min-height: 630px; max-width: 630px;

    background-color: rgba(85, 136, 116, 0.274);  
    
    &:nth-child(2n){
        background-color: rgba(102, 255, 0, 0.13);
    }
    .content{
        height: 90px;
        width: 90px;
        &:nth-child(2n){
            background-color: rgba(39, 138, 0, 0.39);
        }
        &:nth-child(3n){
            background-color: rgba(11, 126, 82, 0.336);
        }
        &:nth-child(4n){
            background-color: rgba(155, 189, 75, 0.336);
        }
    }
}

